* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #26a69a;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img {
  height: 91vh;
  width: 50%;
}

.navbar {
  height: 7vh;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: black;
}

.navbar a {
  color: #fcf802;
  text-decoration: none;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 3rem;
}

.navbarBottom {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbarBottom a {
  color: yellowgreen;
  text-decoration: none;
  font-family: "Akronim", cursive;
  font-size: 3rem;
}

.navbarBottom li a.active {
  color: #fcf802;
  text-decoration: underline;
}

.characters-list-wrapper {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.character-card {
  width: 30%;
  max-width: 265px;
  min-width: 220px;
  margin: 50px 1%;
  border: 1px solid #26a69a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.character-card:hover {
  border: 1px solid black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-2px);
}

.character-card h3 {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 8px;
  font-size: 24px;
  font-family: "Abril Fatface", cursive;
}

.character-card h2 {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 8px;
  font-size: 24px;
  cursor: pointer;
}

.character-card h4 {
  font-family: "Abril Fatface", cursive;
}

.character-card p {
  margin-top: 8px;
}

.character-card img {
  height: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  border: 1px solid rgb(209, 209, 209);
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}

.character-info-wrapper h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 5rem;
}

.character-info-wrapper h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
}

.character-info-wrapper p {
  width: 80%;
  margin: 0 auto;
  font-family: "Abril Fatface", cursive;
  font-size: 1.4rem;
}

.character-image {
  width: 100vw;
  max-height: 275px;
}

.nav-buttons {
  margin: 16px 36px;
  display: flex;
  justify-content: space-between;
}

.nav-buttons button {
  border: none;
  padding: 6px 16px;
  font-size: 16px;
  background-color: #4285f4;
  color: white;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.nav-buttons a:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.movie-list {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-list li {
  font-size: 2rem;
}

button {
  margin: 2%;
  padding: 1% 15%;
  font-size: 3rem;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

footer div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left img, .footer-right img {
  width: 100px;
  height: 100px;
}

.footer-middle img {
  width: 40%;
}